@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;

  .container {
    width: 80%;
    max-width: 1000px;

    h2 {
      padding-bottom: 24px;
      color: #404145;
      line-height: 120%;
    }

    .slick-slider{
      width: 100%;
    }

    .slick-list{
      overflow: hidden;
    }

    .slick-prev::before,
    .slick-next::before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .slick-prev::before {
      content: "\2190"; // Unicode character for left arrow
      right: 13px; // Adjust the left positioning
      top: 50%; // Center the arrow vertically
      transform: translateY(-50%);
    }

    .slick-next::before {
      content: "\2192"; // Unicode character for right arrow
      right: 1; // Adjust the right positioning
      top: 50%; // Center the arrow vertically
      transform: translateY(-50%);
    }

    .slick-arrow,
    .slick-prev,
    .slick-next {
      font-size: 20;
      color: transparent;
      background: none;
    }
  }


// Media Queries
@media (max-width: 1024px) {
  .container {
    width: 80%;
    

    h2 {
      font-size: 18px;
    }

    .slick-prev::before,
    .slick-next::before {
      width: 25px;
      height: 25px;
      font-size: 18px;
    }

    .slide-item {
      max-width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;

    h2 {
      font-size: 16px;
    }

    .slick-prev::before,
    .slick-next::before {
      width: 20px;
      height: 20px;
      font-size: 16px;
    }

    .slide-item {
      max-width: 70%;
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 80%;

    h2 {
      font-size: 14px;
    }

    .slick-prev::before,
    .slick-next::before {
      width: 18px;
      height: 18px;
      font-size: 14px;
    }

    .slide-item {
      max-width: 60%;
    }
  }
}

@media (max-width: 375px) {
  .container {
    width: 80%;

    h2 {
      font-size: 12px;
    }

    .slick-prev::before,
    .slick-next::before {
      width: 15px;
      height: 15px;
      font-size: 12px;
    }

    .slide-item {
      max-width: 50%;
    }
  }
}
}