.login {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 100px 0px;
    gap: 10px;

    h1 {
      color: #404145;
      margin-bottom: 10px;
    }

    label {
      color: #404145;
      font-size: 14px;
    }

    input {
      outline: none;
      padding: 10px;
      border: 1px solid rgb(216, 214, 214);
    }

    .passwordContainer {
      position: relative;
      display: flex;
      align-items: center;

      .passwordInput {
        padding-right: 75px;
      }
      .showPassword {
        position: absolute;
        right: 10px;

        cursor: pointer;

        .eye {
          height: 15px;
          width: 15px;
          display: flex;
        
        }
      }
    }

    button {
      border: none;
      padding: 10px;
      color: white;
      font-weight: 500;
      font-size: 16px;
      background-color: #1dbf73;
      cursor: pointer;
    }
  }
}
