.footer {
  display: flex;
  justify-content: center;
  margin: 50px 0px;

  .container {
    width: 90%;
    max-width: 1000px;

    .top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 18%;
        h6 {
          color: #404145;
        }

        span {
          font-size: 12px;
          font-weight: 300;
          color: #999;
          cursor: pointer;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        gap: 15px;
        h3 {
          color: #6a6a6c;
          font-weight: 800;
        }

        span {
          font-size: 12px;
          color: #a9abab;
        }
      }

      .right {
        display: flex;
        align-items: center;

        gap: 25px;
        .social-icons {
          display: flex;
          align-items: center;
          gap: 15px;
          img {
            width: 15px;
            height: 15px;
            cursor: pointer;
          }
        }

        .link {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 15px;
            height: 15px;
          }

          span {
            color: #404145;
            font-size: 10px;
          }
        }

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    hr {
      margin: 25px 0px;
      height: 0;
      border: 1px solid rgb(241, 241, 241);
    }
  }

  @media (max-width: 1024px) {
    .container {
      .top .item {
        width: 18%;
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          display: none;
        }
      }

      .bottom {
        .right {
          gap: 15px;
          margin-top: 20px;

          .social-icons {
            gap: 10px;
          }

          .link {
            span {
              font-size: 9px;
            }
          }

          img {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .top .item {
        width: 15%;
        margin-bottom: 10px;
      }

      .bottom {
       
        .left {
          margin-bottom: 20px;
        }

        .right {
          
          gap: 10px;
          .social-icons {
            gap: 8px;
          }

          .link {
            span {
              font-size: 8px;
            }
          }

          img {
            display: inline;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      .top .item {
        width: 100%;
        margin-bottom: 10px;

        h6 {
          font-size: 8px;
        }

        span {
          display: none;
        }
      }

      .bottom {
       flex-direction: column;
       align-items: center;

        .left {
          justify-content: center;
          margin-bottom: 15px;
        }

        .right {
          gap: 8px;
          .social-icons {
            gap: 6px;
          }

          .link {
            span {
              font-size: 7px;
            }
          }

          img {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
}
